:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #9d9d9d;
  --color-danger: #c04747;
  --color-column: #f6f6f6;
  --scrollbar: 0;
  --text-size-s: 0.75rem;
  --text-size-m: 1rem;
  --text-size-l: 1.5rem;
  --text-size-xl: 2rem;
  --text-size-xxl: 3rem;
  --text-size-3xl: 4rem;
  --text-size-4xl: 4.5rem;

  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-normal: 1.5;
  --line-height-relux: 1.8;

  --container-width: 80rem;
  --container-margin: clamp(16px, max((100% - var(--container-width)) / 2, 4vw), 160px);

  --font-family-emphasis: 'Syne', sans-serif;
}
