---
export interface Props {
  minHight?: string
}

const { minHight = '50vh' } = Astro.props
---

<div class="cover">
  <div class="cover__inner">
    <slot />
  </div>
</div>

<style define:vars={{ minHight }}>
  .cover {
    display: flex;
    flex-direction: column;
    min-block-size: var(--minHight);
  }

  .cover__inner {
    margin-block: auto;
  }
</style>
