---
export interface Props {
  gap?: string
  mobileGap?: string
}

const { gap = '16px', mobileGap = '16px' } = Astro.props
---

<div class="stack">
  <slot />
</div>

<style define:vars={{ gap, mobileGap }}>
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    container-type: inline-size;
  }

  .stack > :global(*) {
    margin-block: 0;
  }

  .stack > :global(* + *) {
    margin-block-start: var(--gap);
  }

  @container (max-width: 480px) {
    .stack > :global(* + *) {
      margin-block-start: var(--mobileGap);
    }
  }
</style>
