---
export interface Props {
  type?: 'primary' | 'outline' | 'ghost'
  size?: 's' | 'm'
  href: string
}

const { type = 'primary', size = 'l', href, ...props } = Astro.props
---

<a class={`button -type-${type} -size-${size}`} href={href} {...props}><slot /></a>

<style>
  .button {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
    white-space: nowrap;
    border-radius: 99em;
    border: 1px solid var(--color-black);
    font-weight: bold;
    line-height: var(--line-height-none);
    text-decoration: none;
  }

  .button:hover {
    filter: brightness(0.8);
  }

  .-size-l {
    font-size: var(--text-size-l);
    padding: 12px 48px;
  }
  .-size-m {
    font-size: var(--text-size-m);
    padding: 12px 48px;
  }
  .-size-s {
    font-size: var(--text-size-s);
    padding: 8px 24px;
  }

  .-type-primary {
    background-color: var(--color-black);
    color: var(--color-white);
  }
  .-type-outline {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .-type-ghost {
    background-color: none;
    color: var(--color-white);
    border: 1px solid var(--color-white);
  }
</style>
