---
import { SEO } from 'astro-seo'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '../../node_modules/reset-css/reset.css'

export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <SEO title={title} description={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      :root {
      }
      html {
      }
      code {
      }
    </style>
  </body>
</html>
